<!DOCTYPE html>
<html lang="zh-tw">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="lib/vue.js" type="text/javascript" charset="UTF-8"></script>
  <title>你好，GitHub</title>
</head>
<body>
  <div id="app">
    {{message}}
  </div>

  <div id="app2">
    <span v-bind:title="message">
      鼠標懸停幾秒鐘查看此處動態綁定訊息
    </span>
  </div>

  <div id="app3">
    <p v-if="seen">
      現在你看到我了
    </p>
  </div>

  <div id="app4">
    <ol>
      <li v-for="todo in todos">
        {{todo.text}}
      </li>
    </ol>
  </div>

  <div id="app5">
    <p>{{message}}</p>
    <button v-on:click="reverseMessage">
      Reverse Message
    </button>
  </div>

  <div id="app6">
    <p>{{message}}</p>
    <input v-model="message">
  </div>

  <script type="text/javascript">
    let app = new Vue({
      el: "#app",
      data: {
        message: "Hello Vue!",
        name: "Vue"
      }
    });

    let app2 = new Vue({
      el: "#app2",
      data: {
        message: "頁面在 " + new Date().toLocaleString() + " 載入"
      }
    });

    let app3 = new Vue({
      el: "#app3",
      data: {
        seen: true
      }
    });

    let app4 = new Vue({
      el: "#app4",
      data: {
        todos: [
          {text: "Learn JavaScript"},
          {text: "Learn Vue"},
          {text: "Do a side-project"}
        ]
      }
    });

    let app5 = new Vue({
      el: "#app5",
      data: {
        message: "Hello Vue.js!"
      },
      methods: {
        reverseMessage: function() { //不能用箭頭函式
          if(this.message) {
            this.message = this.message.split("").reverse().join("");
          }
        }
      },
    });

    let app6 = new Vue({
      el: "#app6",
      data: {
        message: "Hello Vue!"
      }
    })
  </script>
</body>
</html>